html, body {
    height: 100%;
    width: 100%;
    background-color: rgb(190, 150, 79);
}

tr:nth-child(even) {
    background-color: rgba(150, 212, 212, 0.4);
}

th:nth-child(even),
td:nth-child(even) {
    background-color: rgba(150, 212, 212, 0.4);
}

.center {
    margin-left: auto;
    margin-right: auto;
}

h1 {
    align-content: center;
    margin-left: 40%;
}